<h2 style="text-align:center">Image Slider</h2>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">{{ currentIndex }} / {{ songsCollection.length }}</div>
    <app-iframe class="mainframe" *ngIf="currentVideo" [musicVideo]="currentVideo"></app-iframe>
  </div>

  <a class="prev" (click)="changeSlide(-1)">❮</a>
  <a class="next" (click)="changeSlide(1)">❯</a>

  <div class="caption-container" *ngIf="currentVideo">
    <p>Artist: {{ currentVideo.artist}}</p>
    <p>Title: {{ currentVideo.title}}</p>
  </div>

  <div class="row">
    <div class="column"
         *ngFor="let musicVideo of songsCollection; let videoIndex = index"
         (click)="selectVideo(musicVideo, videoIndex)">
      <app-thumbnails *ngIf="musicVideo" [musicVideo]="musicVideo" [currentVideo]="currentVideo"></app-thumbnails>
    </div>
  </div>
</div>
